@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");

* {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --text-color: #161616;
  --hover-color: hsl(0, 0%, 14%);
  --bg-color: #fff;
}

img {
  width: 100%;
}

body {
  color: var(--text-color);
}

main {
  overflow-x: hidden;
}

section {
  padding: 4rem 0 3rem;
}

.container {
  max-width: 968px;
  width: 100%;
  margin: auto;
}

.heading {
  font-size: 3.4rem;
  text-align: center;
  background: linear-gradient(#161616, #dddcfd);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 2rem;
}
