@import url("./base.css");

/* header style started  */

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.nav .nav__logo img {
  width: 41px;
}

.nav #menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.nav .nav__list {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav .nav__list .nav__item .nav__link {
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(#161616, #dddcfd);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.nav .nav__list .nav__item .nav__link:hover {
  color: var(--text-color);
}

/* home section style started  */
.home__content {
  min-height: 640px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.home__text .text__title {
  font-size: 3.4rem;
  margin-bottom: 1rem;
}

.home__text .text__content {
  margin-bottom: 1rem;
}

.btn {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 16px 24px;
  border-radius: 0.4rem;
}

.home__text .text__btn .bx {
  font-size: 1.4rem;
}

.home__text .text__btn:hover {
  background: var(--hover-color);
}

/* specs section style started  */

.specs .specs__heading {
  font-size: 3.4rem;
  text-align: center;
  background: linear-gradient(#161616, #dddcfd);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 2rem;
}

.specs .specs__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}

.specs .specs__container .specs__details {
  display: grid;
  row-gap: 1.4rem;
}

.specs .specs__container .specs__details .specs__box .bx {
  font-size: 1.6rem;
}

.specs .specs__container .specs__details .specs__box h3 {
  font-size: 1rem;
}
.specs .specs__container .specs__details .specs__box p {
  margin-top: 0.5rem;
}

/* shop section style started  */

.shop .shop__container {
  display: grid;
  grid-template-columns: repeat(3, 164px);
  justify-content: center;
  gap: 3rem;
}

.shop__container .shop__box {
  position: relative;
  padding: 10px;
  background: var(--bg-color);
  box-shadow: 0 5px 8px rgb(15 54 55/ 10%);
  border-radius: 0.5rem;
  height: 180px;
  display: grid;
}

.shop__container .shop__box img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto 1rem;
}

.shop__container .shop__box h3 {
  font-size: 0.9rem;
}

.shop__container .shop__box span {
  font-weight: 500;
}

.shop__container .shop__box .bx {
  position: absolute;
  right: 0.8rem;
  bottom: 0.8rem;
  padding: 10px;
  background-color: var(--text-color);
  color: var(--bg-color);
  border-radius: 0.5rem;
  font-style: 1.1rem;
  cursor: pointer;
}

.shop__container .shop__box .bx:hover {
  background-color: var(--hover-color);
}

/* buds section style started  */
.buds__container {
  display: grid;
  grid-template-columns: 250px max-content;
  background: var(--hover-color);
  color: var(--bg-color);
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  border-radius: 0.5rem;
}

.buds__container .buds__img img {
  width: 320px;
}

.buds__container .buds__text h2 {
  font-style: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.buds__container .buds__text span {
  font-weight: 400;
}

.buds__text p {
  margin: 1rem 0 1rem;
}

.buds__container .buds__text .buds__btn:hover {
  background: hsl(0, 0%, 10%) !important;
}

/* footer style started  */
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, auto));
  gap: 1rem;
  padding-bottom: 1rem;
}

.footer .footer__logo img {
  width: 41px;
}

.footer .footer__box {
  display: flex;
  flex-direction: column;
}

.footer .footer__box h2 {
  font-style: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer .footer__box a {
  color: #161616;
}

.footer .footer__box .footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer .footer__box .footer__social .bx {
  padding: 10px;
  background: var(--text-color);
  color: var(--bg-color);
  border-radius: 0.5rem;
  font-size: 1rem;
}

.footer .footer__box .footer__social .bx:hover {
  background: var(--hover-color);
}

/* footer style  */

/* media query  */

@media (max-width: 1080px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 1080px) {
  section {
    padding: 50px 0px;
  }
  .home__text .text__title {
    font-size: 3rem !important; 
  }
}

@media (max-width: 768px) {
  .nav .nav__logo img {
    width: 30px;
    position: relative;
    z-index: 151;
  }
  .nav #menu-icon {
    display: initial !important;
    z-index: 150;
  }
  .nav__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 1px 2px 4px rgb(15 54 55 / 10%);
    background: var(--bg-color);
    clip-path: circle(0% at 50% 0);
    transition: .2s;
      
  }

  .nav__list.active{
    clip-path: circle(144% at 50% 0);
  }

  .nav__list .nav__item .nav__link {
    display: block;
    padding: 12px;
  }

  .home__text .text__title{
    font-size: 2rem !important;
  }
  .home__text p{
    font-size: 0.875rem !important;
  }

  .btn{
    padding: 15px 16px;
  }

  .heading{
    font-size: 2.4rem;
  }

}

@media (max-width: 684px){
  .home__content, .specs__container, .buds__container{
    grid-template-columns: 1fr !important;
  }
  .home__content{
    min-height: 540px;
  }
  .buds__text{
    padding: 1.4rem;
  }
  .specs__image {
    margin-top: 2rem;
  }
  .shop__container{
    grid-template-columns: repeat(2, 164px) !important;
    gap: 1rem !important;
  }
}

@media (max-width: 375px){
  .nav{
    padding: 4px;
  }
  .home__text .text__title{
    font-size: 1.8rem;
  }
  .heading{
    font-size: 2rem;
  }
  .shop__container{
    grid-template-columns: repeat(2, 144px)  !important;
  }
}